# ESP related modules
platformio
pyserial
esptool
PyYAML
bitstring

# AWS related modules
boto3

# Docs related modules
mkdocs-material
mkdocs-plugin-mermaid
mkdocs_pymdownx_material_extras
mkdocs-git-revision-date-plugin
mkdocs-mermaid2-plugin
mkdocstrings
  